<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button [routerLink]="['/rides',id,'edit']" routerLinkActive="router-link-active" class="btn btn-warning">
        Edit Ride
      </button>
      <button class="btn btn-danger" (click)="onDelete()">
        Delete Ride
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4>From: <strong>{{ride?.rideFrom}}</strong></h4>
    </div>
    <div class="col-md-6">
      <h4>To: <strong>{{ride?.rideTo}}</strong></h4>
    </div>
    <div class="col-md-6">
      <h6>Start: <strong>{{ride?.startTime.toDate()|date:"MMM dd, yyyy hh:mm aa"}}</strong></h6>
    </div>
    <div class="col-md-6">
      <h6>End: <strong>{{ride?.endTime.toDate()|date:"MMM dd, yyyy hh:mm aa"}}</strong></h6>
    </div>
    <div class="col-md-6">
      <h6>Status: <strong>{{ride?.rideStatus | uppercase}}</strong></h6>
    </div>
    <div class="col-md-12">
      <h6>Users: {{ride?.trips}}</h6>
    </div>
  </div>
</div>
