<div class="row">
  <div class="col-xs-12" *ngIf="!user?.isVehicleOwner">
    <button [routerLink]="['/trips','new']" routerLinkActive="router-link-active" class="btn btn-success">
      New Trip
    </button>
  </div>
  <div class="col-xs-12" *ngIf="user?.isVehicleOwner">
    <form [formGroup]="searchForm">
      <div class="form-floating col-sm-6">
        <input type="text" class="form-control" id="from" placeholder="Location" formControlName="from">
        <label for="from">From</label>
      </div>
      <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="to" placeholder="Destination" formControlName="to">
        <label for="to">To</label>
      </div>
    </form>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-trip-item *ngFor="let trip of trips" [trip]="trip"></app-trip-item>
    </ul>
  </div>
</div>
