<p>Vehicle Form</p>
<form class="vehicleForm" (ngSubmit)="onSubmit()" [formGroup]="vehicleForm">
  <mat-form-field appearance="fill">
    <mat-label>Vehicle Name</mat-label>
    <input type="text" matInput placeholder="ex. Corolla" formControlName="vehicleName">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vehicle Company</mat-label>
    <input type="text" matInput placeholder="ex. Toyota" formControlName="vehicleCompany">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vehicle Type</mat-label>
    <input type="text" matInput placeholder="ex. Car" formControlName="vehicleType">
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>No. of Seats</mat-label>
    <input type="number" matInput placeholder="ex. 4 etc." formControlName="noOfSeats">
    <mat-error></mat-error>
  </mat-form-field>
  <button type="submit" mat-stroked-button>
    Add Vehicle Data
  </button>
</form>
