<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="p-5 mb-4 bg-light border rounded-3">
        <div class="container-fluid ">
          <h1 class="display-5 fw-bold" style="text-align: center;">O-Khali</h1>
          <p class="col-md-12 fs-5" style="text-align: justify;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo,
            autem!Ex sintdelectus doloremque eaque voluptate officiis sapiente laborum et exercitationem necessitatibus,
            itaque
            suscipit officia natus at minus tenetur nulla ea ratione! Beatae, iusto molestias quidem accusamus
            architecto impedit repudiandae quo eaque totam maxime neque repellendus? Sequi, quod officiis. Est porro
            repellat vero rerum corrupti, aperiam dolorum sequi expedita minima dolorem perferendis soluta
            exercitationem dicta ea eveniet blanditiis ipsa error asperiores eum, quae, quis sunt illum modi quia. Nihil
            distinctio in, nisi quo magni error? Optio nesciunt ratione, eos consequatur ea, suscipit quibusdam
            accusantium quaerat libero possimus, autem obcaecati debitis!</p>
          <div style="text-align: center;">
            <button [routerLink]="['/signup']" routerLinkActive="router-link-active" class="btn btn-outline-primary"
              type="button">Signup</button>
            <button [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-outline-primary"
              type="button">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
